# VGA
NET "VGA_HS"        LOC = P87;
NET "VGA_VS"        LOC = P85;  
NET "VGA_R[0]"      LOC = P79;
NET "VGA_R[1]"      LOC = P80;  
NET "VGA_G[0]"      LOC = P81;
NET "VGA_G[1]"      LOC = P82; 
NET "VGA_B[0]"      LOC = P83;
NET "VGA_B[1]"      LOC = P84;

# dip-switches
NET "SW[0]"    LOC = P51;
NET "SW[1]"    LOC = P48;
NET "SW[2]"    LOC = P55;
NET "SW[3]"    LOC = P56;
NET "SW[4]"    LOC = P57;
NET "SW[5]"    LOC = P58;
NET "SW[6]"    LOC = P66;
NET "SW[7]"    LOC = P59;

# Push-Buttons
NET "Key[0]"     LOC = P78;
NET "Key[1]"     LOC = P75;
NET "Key[2]"     LOC = P67;
NET "Key[3]"     LOC = P74;

NET "LED[0]"    LOC = P132;
NET "LED[1]"    LOC = p131;
NET "LED[2]"    LOC = P127;
NET "LED[3]"    LOC = P126;
NET "LED[4]"    LOC = P124;
NET "LED[5]"    LOC = P123;
NET "LED[6]"    LOC = P121;
NET "LED[7]"    LOC = P120;

NET "SevenSeg[0]"    LOC = P47;
NET "SevenSeg[1]"    LOC = P43;
NET "SevenSeg[2]"    LOC = P34;
NET "SevenSeg[3]"    LOC = P40;
NET "SevenSeg[4]"    LOC = P35;
NET "SevenSeg[5]"    LOC = P44;
NET "SevenSeg[6]"    LOC = P30;
NET "SevenSeg[7]"    LOC = P33;

NET "EN[0]"    LOC = P46;
NET "EN[1]"    LOC = P45;
NET "EN[2]"    LOC = P41;
NET "EN[3]"    LOC = P32;

NET "CLOCK_24"  		LOC = P50;   # 24MHz on-board clock
NET "RESET_N"     LOC = p133;  # active-low USER_PB button

